:root {
    /* Paleta Light (modo claro) */
    --color-fondo: #ffffff;        /* Fondo principal */
    --color-texto: #000000;        /* Texto principal */
    --color-gris: #a8a6a6a5;       /* Gris */
    --color-amarillo: #f2c744;     /* Amarillo */
    --color-rojo: #e74c3c;         /* Rojo */
    --color-azul: #000fff;         /* Azul */
    --color-verde: rgb(46, 204, 113);        /* Verde */
    --color-dorado: #bc9d33;        /* dorado */
    --color-sombra: #000000;     /* Sombra */
    --color-amarilloCl: rgba(246, 226, 158, 0.19);
    --color-rojoCl: rgba(255, 125, 109, 0.19);
    --color-azulCl: rgba(132, 137, 255, 0.19);
}

.letraNav {
    font-size: 18px !important;
    color: var(--color-texto);
}

.letraNav:hover {
    color: var(--color-texto);
    border-bottom: 3px solid var(--color-amarillo);
    text-shadow: var(--color-texto) 1px 0 10px;
    padding-bottom: 5px;
}

.letraNavTitulo:hover {
    color: var(--color-texto);
    text-shadow: var(--color-texto) 1px 0 10px;
}

/* Modo claro */
body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Bitcount Grid Single', sans-serif;
    font-size: 22px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
}

footer {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    text-align: center;
    padding: 10px;
}

.navbar a {
    color: var(--color-texto);
}

nav{
    background-color: var(--color-fondo);
    box-shadow: 0 5px 10px var(--color-sombra);
}
.custom-toggler {
    border: var(--color-texto) 2px solid;
    border-radius: 5px;
    box-shadow: var(--color-sombra) 0 0 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.custom-toggler .line {
    width: 25px;
    height: 2.5px;
    background-color: var(--color-texto);
    border-radius: 2px;
}

.img-shadow {
    filter: drop-shadow(0 0 10px var(--color-texto));
}

.card {
    width: 350px !important;
    height: 450px !important;
    scrollbar-width: none;
    overflow: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 10px var(--color-sombra);
    border-radius: 15px !important;
}

.img-card{
    border: none;
    border-radius: 10px;
}

#theme-icon{
    filter: drop-shadow(0 0 10px var(--color-texto));
    font-size: 30px;
}

#toggle-mode {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-texto);
}

.Cv{
    color: var(--color-texto);
    border: var(--color-dorado) 1px solid;
    box-shadow: var(--color-dorado) 0 0 10px;
    border-radius: 10px;
    animation: resplandorVerdeBlanco 1.5s infinite ease-in-out;
}

.Cv:hover,
.dark-mode .Cv:hover {
    transform: scale(1.2); /* escalar en ambas direcciones */
    transition: all 0.3s ease-in-out; /* efecto suave (opcional) */
    animation: none; /* detener la animación */
}

/* Estilos para el botón de WhatsApp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-verde);
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px var(--color-verde);
    animation: cambioColorSombra 2s linear infinite;
}

/* Hover: cambia color pero mantiene animación */
.whatsapp:hover {
    background-color: var(--color-texto);
    color: var(--color-fondo);
    transition: background-color 0.3s, color 0.3s;
}

@keyframes cambioColorSombra {
    0%   { box-shadow: 0 0 15px var(--color-verde); }
    50%  { box-shadow: 0 0 15px white; }
    100% { box-shadow: 0 0 15px var(--color-verde); }
}
/* fin estilos para el botón de whatsapp */

/* animaciones */
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.dark-mode .texto-gradient {
    font-weight: bold;
    background: radial-gradient(circle, var(--color-verde) ,var(--color-texto), var(--color-verde));
    background-size: 200% 200%;
    animation: moveGradient 4s ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* fin animaciones */

/* Modo oscuro */
.dark-mode {
    --color-fondo: #121212;   /* Fondo en dark */
    --color-texto: #ffffff;   /* Texto en dark */
    --color-gris: #333333;
    --color-sombra: #ffffff;
    --color-dorado: var(--color-verde);
}

.dark-mode .navbar,
.dark-mode .dropdown-menu {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.dark-mode .card {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border-color: var(--color-gris);
    scrollbar-color: var(--color-texto) var(--color-fondo);
}

/* Estilos para el botón de CV */

.dark-mode .Cv {
    color: var(--color-texto);
    border: var(--color-dorado) 1px solid;
    border-radius: 10px;
    animation: resplandorVerdeBlanco 1.5s infinite ease-in-out;
}

@keyframes resplandorVerdeBlanco {
    0% {
        transform: scale(1.1); /* escalar en ambas direcciones */
        transition: all 0.3s ease-in-out; /* efecto suave (opcional) */
        box-shadow: 0 0 10px var(--color-dorado);
    }
    50% {
        transform: scale(1); /* escalar en ambas direcciones */
        transition: all 0.3s ease-in-out; /* efecto suave (opcional) */
        box-shadow: 0 0 10px white;
    }
    100% {
        transform: scale(1.1); /* escalar en ambas direcciones */
        transition: all 0.3s ease-in-out; /* efecto suave (opcional) */
        box-shadow: 0 0 10px var(--color-dorado);
    }
}


/* Fin estilos para el botón de CV */

